.footer {
    background-color: var(--secondary-color);
    color: var(--text-color-light);
    padding-top: 4rem;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    border-bottom: 1px solid #444;
    padding-bottom: 2rem;
}

.footer-column h3 {
    color: #fff;
    margin-bottom: 1rem;
}

.footer-column ul {
    list-style: none;
}

.footer-column li {
    margin-bottom: 0.5rem;
}

.footer-column a,
.footer-column p {
    color: var(--text-color-light);
    text-decoration: none;
    transition: color 0.3s;
}

.footer-column a:hover {
    color: var(--primary-color);
}

.footer-column li i {
    margin-right: 0.5rem;
}

.newsletter-form {
    display: flex;
    margin-top: 1rem;
}

.newsletter-form input {
    border: none;
    padding: 0.8rem;
    border-radius: 5px;
    flex: 1;
}

.newsletter-form button {
    background-color: var(--primary-color);
    border: none;
    color: #fff;
    padding: 0.8rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-left: -10px;
}

.Ft-btm{
    display: flex;
    justify-content: center;
}

.footer-bottom {
    width: 63%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.8rem;
    align-items: center;

    & a{
        text-decoration: none;
        color: #fff;
    }
}

.dev-logo img{
    width: 40px;
}

.social-links{
    display: flex;
    justify-content: space-evenly;
    width: 60px;
}
